.page-header{
    margin-top: 23px;
    margin-left: 811px;
  }
  .page-nav-bar{
    background-image: url(../images/Shared/Nav_Bar.png);
  }
    .body-class{
        background-image: url(../images/Shared/About_Me_BG.png);
		background-repeat: no-repeat;
        width: 1920px;
        height: 2986px;
        margin: 0;
    }
    .content {
        width: 1920px;
        height: 2268px;
        padding-top: 118px;
    }
::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}
    /* Track */
::-webkit-scrollbar-track {
  background: rgb(29, 30, 24); ; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(64, 64, 64); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 64, 64); 
}

.who-am-i-grid{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 86px;
    margin-left:327px;
    width:1266px;
}
.who-am-i-right-container{
    padding-top: 165px;
    margin-left: 152px;
}
.who-am-i-text-container{
    max-width: 500px;
}
.who-am-i-text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;  
}
.who-am-i-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin:0px;
    text-align: center;
}
.who-am-i-icon{
    margin-left: 182px;
}
.about-my-experience-grid {
    display: grid;
    grid-template-columns: auto;
    margin-left:367px;
    margin-top:130px;
    width: 1186px;
}
.about-my-experience-icon{
    margin-left: 557px;
}
.about-my-experience-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin:0px;
    text-align: center;
}
.about-my-experience-text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;  
}
.about-my-experience-text-container{
    max-width: 1186px;
}
.bottom-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 213px;
    margin-top: 137px;
    width: 1495px;
}
.about-my-study-grid{
    display: grid;
    grid-template-columns: auto;
    width:417px;
    height:443px;
}
.about-my-study-icon{
    margin-left: 180px;
}
.about-my-study-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin:0px;
    text-align: center;
}
.about-my-study-text-container{
    max-width: 417px;
}
.about-my-study-text
{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.my-skills-grid{
    width:421px;
    height:533px;
}
.my-skills-icon{
    margin-left: 172px;
}
.my-skills-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin:0px;
    margin-top:-4px;
    text-align: center;
}
.my-skills-text-container{
    max-width: 421px;
}
.my-skills-text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}
.languages-grid{
    display: grid;
    grid-template-columns: auto;
    width: 237px;
    height:245px;
}
.languages-icon{
    margin-left: 82px;
}
.languages-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin:0px;
    text-align: center;
}
.languages-text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}