.centered-text{
    margin-left:520px;
    margin-bottom:211px;
}
.centered-text-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 36px; 
    line-height: 1.67;
    margin: 0px;
}
.centered-text-text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
    margin: 0px;
    margin-bottom:21px;
    margin-top:15px;
}
.video{
    margin-left: 213px;
    margin-bottom:196px;
}
.image-right-orientated-image{
    margin-left: 91px;
    width: 920px;
}
.image-right-orientated-text-container{
    display: grid;
    grid-template-columns: auto;
    margin-top: 83px;
    height: 284px;
    width:500px;
}
.image-right-orientated{
    margin-bottom: 196px;
    margin-left: 213px;
    display: grid;
    grid-template-columns: auto auto;
    width: 1380px;
}
.image-right-orientated-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 36px;
    
    line-height: 1.67;
    margin: 0px;
}
.image-right-orientated-text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
    margin: 0px;
    margin-bottom:21px;
    width:500px;
    margin-top:15px;
}
.image-left-orientated-2{
    margin-bottom: 219px;
    margin-left: 213px;
    display: grid;
    grid-template-columns: auto auto;
    width: 1402px;
}
.image-left-orientated{
    margin-bottom: 196px;
    margin-left: 213px;
    display: grid;
    grid-template-columns: auto auto;
    width: 1380px;
}
.image-left-orientated-image{
    margin-right: 154px;
    width: 920px;
}
.image-left-orientated-text-container{
    display: grid;
    grid-template-columns: auto;
    height: 357px;
    margin-top:40px;
}
.image-left-orientated-text-container-2{
    display: grid;
    grid-template-columns: auto;
    margin-top: 83px;
    height: 284px;
    width: 328px;
}
.image-left-orientated-header{
    color:#FAFFFD;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.67;
    margin: 0px;
}
.image-left-orientated-text{
    color:#A9ACA9;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.67;
    margin: 0px;
    margin-bottom:21px;
    width:420px;
    margin-top:15px;
}

.page-header{
    margin-top: 32px;
    margin-left: 453px;
    margin-bottom: 85px;
  }
  .page-nav-bar{
    background-image: url(../images/Shared/Nav_Bar.png);
  }
    .body-class{
        background-image: url(../images/Shared/Projects_Back_Ground.png);
		background-repeat: no-repeat;
        width: 1920px;
        height: 3570px;
        margin: 0;
    }
    .content {
        width: 1920px;
        height: 3452px;
        padding-top: 118px;
    }
::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}
    /* Track */
::-webkit-scrollbar-track {
  background: rgb(29, 30, 24); ; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(64, 64, 64); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 64, 64); 
}

