
body {
    margin: 0;
    }
   
      .message-input{
        margin-top:33px;
        width:420px;
        height:140px;
        background: transparent;
        border-radius: 10px;
        border:solid;
        border-color: #FAFFFD;
        border-width: 1px;
        padding-left: 27px;
        padding-top: 18px;
        outline: none;
        color: #A9ACA9;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height:30px;
        margin-bottom: 42px;
        resize: none;
    }
    .message-input:focus {
        border:solid;
        border-color: #A9ACA9;
        border-width: 1px;   
      
    }
    .message-input::placeholder{
        color: #A9ACA9;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height:30px;
    }
    .e-mail-input{
        margin-top:33px;
        width:420px;
        height:51px;
        background: transparent;
        border-radius: 10px;
        border:solid;
        border-color: #FAFFFD;
        border-width: 1px;
        padding-left: 27px;
        outline: none;
        color: #A9ACA9;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height:30px;
    }
    .e-mail-input:focus {
        border:solid;
        border-color: #A9ACA9;
        border-width: 1px;   
      
    }
    .e-mail-input::placeholder{
        color: #A9ACA9;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height:30px;
    }
    .name-input{
        margin-top:17px;
        width:420px;
        height:51px;
        background: transparent;
        border-radius: 10px;
        border:solid;
        border-color: #FAFFFD;
        border-width: 1px;
        padding-left: 27px;
        outline: none;
        color: #A9ACA9;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height:30px;
    }
    .name-input:focus {
        border:solid;
        border-color: #A9ACA9;
        border-width: 1px;   
      
    }
    .name-input::placeholder{
        color: #A9ACA9;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height:30px;
    }

  
    .contact-me-text{
        color:#A9ACA9;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height:30px;
        margin-top:34px;
    }
    .contact-me-anchor{
        margin-top: 138px;
    }
    .contact-grid{
        margin:0px;
        margin-top:200px;
        margin-left:519px;
        display: grid;
        grid-template-columns: auto;
    }
    .carousel-element-text1{
        margin: 0;
        margin-top: 10px;
        max-width: 324px;
        margin-left: 484px;
    }
    .carousel-element-text2{
        margin: 0;
        margin-top: 10px;
        max-width: 300px;
        margin-left: 516px;
    }
    .carousel-element-text3{
        margin: 0;
        margin-top: 10px;
        max-width: 248px;
        margin-left: 569px;
    }
    .carousel-element-text4{
        margin: 0;
        margin-top: 10px;
        max-width: 260px;
        margin-left: 559px;
    }
    .carousel-element-text5{
        margin: 0;
        margin-top: 10px;
        max-width: 285px;
        margin-left: 535px;
    }
    .carousel-element-text{
        color:#404040;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height:30px; 
        margin: 0;
        margin-top: 10px;
        max-width: 300px;   
        text-align: left;
    }
    .carousel-element-header{
        color: #1D1E18;
        font-family: 'Manrope', sans-serif;
        font-weight: 500;
        font-size: 26px;
        margin: 0;
        margin-top:55px;
        text-align: left;
    }
    .owl-carousel-element{
        width:808px;
        height:614px;
        display: grid;
        grid-template-columns: auto;
    }
    .owl-carousel{
        width: 1287px;
        height: 622px;
    }
    .projects-carousel-left-button {
        margin-right:40px;
    }
    .projects-carousel-buttons-grid{
        display: grid;
        grid-template-columns: auto auto;
        margin-left:150px;
    }
    .projects-buttons-grid{
        display: grid;
        grid-template-columns: auto auto;
    }
    .projects-title{
        margin-top:160px;
    }
    .projects-grid-left-container{
       width:341px;
       margin-right: 82px;
    }
    .projects-grid{
        margin-top:355px;
        margin-left: 209px;
        display: grid;
        grid-template-columns: auto auto;
    }
    .about-me-right-container
    {
        margin-left:127px;
    }
    .about-me-left-container{
        margin-top:146px;
    }
    .about-me-text{
        color:#A9ACA9;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height:30px;
    }
    .about-me-text-container{
        max-width: 420px;
        margin-top:39px;
        margin-bottom:43px;
    }
    .about-me-grid{
        display: grid;
        grid-template-columns: auto auto;
        margin-top:476px;
        width:1187px;
        margin-left:366px;
    }
    .contact-me-button{
        margin-top:43px;
        margin-left:1286px;
    }
    .about-text{
        color: #A9ACA9;
        font-family: 'Manrope', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
    }
    .about-text-div{
        margin-top:305px;
        margin-left:1286px;
       
    }
    .body-class{
        width: 1920px;
        height: 4550px;
        margin: 0;
    }
    .content {
        background-image: url(../images/HomepageBG.png);
		background-repeat: no-repeat;
        width: 1920px;
        height: 4432px;
        margin:0px;
		
        padding-top: 118px;
    }
    .page-nav-bar{
        background-image: url(../images/NavBarPreset.png);
    }
    ::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(29, 30, 24); ; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(64, 64, 64); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 64, 64); 
}